language: emacs-lisp
matrix:
  include:
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-24.4-travis
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-24.5-travis
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-25.1-travis
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-25.2-travis
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-25.3-travis
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-26.1-travis-linux-xenial
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-26.2-travis-linux-xenial
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-26.3-travis-linux-xenial
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-27.1-travis-linux-xenial
    - os: linux
      dist: xenial
      env: EVM_EMACS=emacs-git-snapshot-travis-linux-xenial
before_install:
  - export PATH="/home/travis/.evm/bin:$PATH"
  - export PATH="/home/travis/.cask/bin:$PATH"
  - git clone https://github.com/rejeep/evm.git /home/travis/.evm
  - evm config path /tmp
  - evm install emacs-24.3-travis --use
  - evm install $EVM_EMACS --use --skip
  - curl -fsSkL https://raw.githubusercontent.com/cask/cask/master/go | python
  - cask
script:
  - emacs --version
  - cask exec ert-runner
